collapsible-component {
  display: block;
}

collapsible-component button {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

collapsible-content {
  display: block;
  overflow: hidden;
  transition: height 0.35s ease-out;
}
